@font-face {
  font-family: "Salted Mocha";
  font-style: normal;
  font-weight: 400;
  src: local("Salted Mocha"),
    url("./fonts/SaltedMocha-Regular.otf") format("opentype"); /* Safari, Android, iOS */
}

:root {
  --primary: #7f4469;
  --secondary: #232e41;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url("./images/bg.jpg");
  background-size: cover;
  overflow-y: scroll;
  background-position-x: center;
  background-position-y: top;
}

header {
  background-image: linear-gradient(
      180deg,
      white 0%,
      white 85%,
      transparent 100%
    )
    url("./images/bg.jpg");
  background-size: cover;
  overflow: hidden;
  background-position-x: center;
  background-position-y: top;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
